################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.suo
*.user
/packages
/TestResults
/UseCaseTranslator/bin
/UseCaseTranslator/obj
/UseCaseTranslator.Tests/bin
/UseCaseTranslator.Tests/obj

/Document
/UseCaseTranslator.WebAPI/bin
/UseCaseTranslator.WebAPI/obj/Debug
/UseCaseTranslator.WebAPI.Tests/bin/Debug
/UseCaseTranslator.WebAPI.Tests/obj/Debug
/Publish/Web Deploy/UseCaseTranslator.WebAPI.zip
/UseCaseTranslator.WebAPI/obj/Release
/UseCaseTranslator.WebAPI.Tests/obj/Release
/.vs/UseCaseTranslator
