<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config 変換の使用の詳細については、http://go.microsoft.com/fwlink/?LinkId=301874 を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
